/*
Creando variables de entorno en CSS
de esta manera se crean variables en css 
muy utiles para la productividad a la hora
de programar
*/

:root{
    /*? Colores */
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: white;
    --black: black;
    --dark: #232830;

    /*? Fuentes */
     --quicksand: 'Quicksand', sans-serif;
     --roboto: 'Roboto', sans-serif;
     
     /*? Font Size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body{
    margin: 0;
    padding: 0;
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    font-family: var(--quicksand);
}

.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;

}

.title{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 36px ;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 24px;
}

.primary-button{
    background-color: var(--hospital-green);
    color: var(--white);
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.login-button{
    margin-top: 8px;
    margin-bottom: 28px;
}

@media (max-width: 640px) {
    .logo{
        display: block;
    }
}